{% extends "base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="signin-page">
  <div class="signin-wrapper">
    <div class="signin-card">
      <h2 class="signin-title">Define tu nueva contraseña</h2>

      <form method="post">
        {% csrf_token %}
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        {% for err in form.new_password1.errors %}
          <div class="error-msg">{{ err }}</div>
        {% endfor %}

        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        {% for err in form.new_password2.errors %}
          <div class="error-msg">{{ err }}</div>
        {% endfor %}

        <button type="submit" class="btn-login w-100 mt-3">Guardar nueva contraseña</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
